<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Recently Read</title>
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>
		<div class="bk-header">
			<h1 class="bk-h1">Recently Read</h1>
		</div>
		<div class="bk-list">
		{% for book in books %}
			{% if (book.id | string | length) > 0 %}
			<div class="bk-block">
				<span class="bk-click"><span class="bk-title-block"><h3 class="bk-title">{{ book.title }}</h3><h4 class="bk-author">{{book.author}}</h4></span></span>
				<div class="bk-target"><p class="bk-text">{{ book.text }}</p><p class="bk-date">{{book.date | date('l')  }}</p></div>
			</div>
			{% endif %}
		{% endfor %}
		</div>
		{% include 'footer.html' %}
		<script src='js/jquery.js'></script>
		<script src='js/fontfaceobserver.js'></script>
		<script src='js/app.js'></script>
	</body>
</html>
